<div>
  <nav>
      <a href="/">8gag</a> |
      <a href="/meme/add">Add Meme</a>
      <div style="float: right;">
          Hi, <%=user.userName%>
              <a href="/user/<%=user.id%>/profile">Manage Profile</a>
              <a href="/user/<%=user.id%>/account">Manage Account</a>
              <a href="">Your Meme</a>
              <a href="/signOut">Sign Out</a>
      </div>
  </nav>
</div>