<div>
  <nav>
    <div class="topnav">
        <a class="active" href="/home">8gag</a>
        <a class="active" href="/meme/add">Add Meme</a>
        <% if (user.isAdmin) {%>
          <a class="active" href="/tag/">Tags</a>
        <%}%>
        <a style="float: right;" class="active" href="/signOut">Sign Out</a>
        <a style="float: right;" class="active" href="/user/<%=user.id%>/profile">Manage Profile</a>
        <a style="float: right;" class="active" href="/user/<%=user.id%>/account">Hi, <%=user.userName%></a>
    </div>
  </nav>
</div>