<div>
  <nav>
    <div class="topnav">
        <a href="/home"><img src="../../assets/logo.png" class="logo" alt="Logo" style="height:40px;"></a>
        <a href="/meme/add" style="padding-top:20px">Add Meme</a>
        <% if (user.isAdmin) {%>
          <a href="/tag/">Tags</a>
        <%}%>
        <a style="float: right; padding-top:20px; " href="/signOut">Sign Out</a>
        <a style="float: right; padding-top:20px; " href="/user/<%=user.id%>/profile">Manage Profile</a>
        <a style="float: right; padding-top:20px; " href="/user/<%=user.id%>/account">Hi, <%=user.userName%></a>
    </div>
  </nav>
</div>