<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>
<%- include('./partials/form-style') %>
<style>
    .topnav {
      overflow: hidden;
      background-color: #B08B71;
    }
    
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
</style>
<body>
    <%- include('partials/navbar') %>
    <div>
        <div style="display: flex; justify-content:center; margin:40px">
            <h1>Add Your Meme</h1>
        </div>
        <div class ="form">
            <form action="/meme/add" method="post" enctype="multipart/form-data">
                <div>
                    <label for="">Title</label><br>
                    <input type="text" name="title">
                </div>
                <div>
                    <label for="meme">Meme</label><br>
                    <input type="file" name="imageURL" id="meme" />
                </div>
                <div>
                    <label for="">Tag</label><br>
                    <select name="TagId" id="">
                        <option value="" disabled selected>Select Tag</option>
                        <% tag.forEach(el=> { %>
                            <option value="<%= el.id %>">
                                <%= el.name %>
                            </option>
                            <% }) %>
                    </select>
                </div><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>