<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  body {
    background-color: #B08B71;
  }

  .logo {
    height: 200px;
    width: 200px;
  }

  .logo-wrapper {
    margin-left: 20%;
    margin-top: 15%;
    margin-right: 20%;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
  }

  .description {
    margin-top: 15%;
    padding-right: 20%;
  }

  .description p {
    color: rgb(235, 235, 235);
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .btn-sign {
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
  }

  .btn-sign:hover {
    background-color: rgb(238, 101, 51);
    color: rgb(235, 235, 235);
  }
</style>

<body>
  <div class="wrapper">
    <div class="logo-wrapper">
      <img src="../assets/logeh.png" class="logo" alt="Logo">
    </div>
    <div class="description">
      <p>
        8GAG is a meme community on the internet. This is the place to discover the latest memes for sharing and to grow
        your meme collection
      </p>
      <button class="btn-sign">Sign in</button>
    </div>
  </div>
</body>

</html>