<nav><a href="/signUp">Register</a></nav>
<form action="/signIn" method="POST">
  <label for="userName">Username:</label>
  <input type="text" name="userName" id="userName">
  <hr>
  <label for="password">Password:</label>
  <input type="password" name="password" id="password">
  <hr>
  <input type="submit" value="Sign In">
</form>