<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('partials/navbar') %>
  <div style="display: flex; justify-content:center">
    <h1>Add Tag</h1>
  </div>
  <div style="display: flex; justify-content:center">
    <% if(success) { %>
      <p style="color:green">
        <%='New Tag created!'%>
      </p>
    <% } else if (errors) { %>
      <%errors.split(',').map(el=>{%>
        <p style="color:red; margin-right: 5px">
          <%=el%>
        </p>
        <%})%>
    <% } %>
  </div>
  <div style="display: flex; justify-content:center">
          <form action="/tag/add" method="POST">
            <div style="display:flex; flex-direction: column; justify-content: center;">
              <label style="margin-bottom: 5px;" for="tag">Tag Name </label style="margin-bottom: 5px;">
              <input style="margin-bottom: 5px;" type="text" name="tag" id="tag">
              <input type="submit" value="Add Tag">
            </div>
          </form>
        </div>

</body>
</html>