body {
  background-color: #fcf5ed;
}


/* form style */
.form input,
textarea,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #CEB092;
  border-radius: 4px;
  box-sizing: border-box;
}

.form button[type=submit] {
  width: 100%;
  background-color: #AF855C;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  margin: 500px;
  margin-top: 0;
  border: 1px solid #CEB092;
}


.artName {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  background-color: white;
  border: 15px solid #815438;
  padding: 40px;
  margin: 20px;
}


/* navbar */

.topnav {
  overflow: hidden;
  background-color: #B08B71;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* home style */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  padding: 80px;
  margin: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #CEB092
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 10px 16px;
}
.alert {
  padding: 20px;
  color: rgb(70, 70, 70);
  margin: 50px 50px 0px 50px;
}

.closebtn {
  margin-left: 15px;
  color: rgb(70, 70, 70);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.row {
    content: "";
    display: table;
    clear: both;
    display: flex;
    justify-content: center;
}

.img-home{
    height: 300px;
}

.search{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn1{
  border: 2px solid rgb(78, 119, 255);
  background-color: rgb(78, 119, 255);
  color: white;
  border-radius: 2px;
  transition-duration: 0.4s;
}

.btn2{
  border: 2px solid rgb(255, 71, 71);
  background-color: rgb(255, 71, 71);
  color: white;
  border-radius: 2px;
  transition-duration: 0.4s;
}

.btn1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn3 {
  border: 2px solid rgb(38, 184, 111);
  border-radius: 2px;
  background-color: rgb(38, 184, 111);
  color: white;
  margin-left: 5px;
}

.ex4 {
  width: 570px;
  height: 70px;
  overflow: auto;
}

.ex3 {
  width: 100%;
  height: 300px;
  overflow: auto;
}